<div class="row">
  <div class="col-xs-8 col-sm-10 col-md-10">
    <h1>Users </h1>
  </div>

  <div class='container col-md-6'>
    <table class='table'>
      <thead>
        <tr>
          <th> Name</th>
          <th> Email</th>
          <th> Admin</th>
          <th> Permissions </th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.name  %></td>
          <td><%= user.email %></td>
          <td><%= user.admin == true ? "Yes": "No" %></td>
          <% if user.admin  %>
            <td><%= link_to 'Remove as admin', home_remove_admin_path(user_id: user.id), class: "btn btn-warning"%></td>
          <% else %>
            <td><%= link_to 'Make admin', home_make_admin_path(user_id: user.id), class: "btn btn-primary"%></td>
          <% end %>
        </tr>
        <% end  %>
      </tbody>
    <table>
  </div>
</div>